<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="change-password.component.css">
    </head>
    <body>
            <div class="loginbox">
                <img src="../../../assets/ppark.jpg" class="avatar" />
            </div>
            <form [formGroup]="userForm"  class="box" action="index.html" method="post" (submit) = "OnSubmitPassword(userForm)">
                <h1>Change Password</h1>
                <input formControlName="password" type="password" name="password" id="password" placeholder="New Password" #password class="form-control">
                <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" >
                    <small *ngIf="f['password'].errors?.['required'] && userForm.get('password')?.touched" class="error" class="text-danger">Password is Required</small>
                    <small *ngIf="f['password'].errors?.['minlength'] && userForm.get('password')?.touched" class="error" class="text-danger">Password less than 8 Characters</small>
                </div>
                <input formControlName="conf_password" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" #confirm_password class="form-control">
                <div *ngIf="userForm.get('conf_password')?.invalid && userForm.get('conf_password')?.touched" >
                    <small *ngIf="f['conf_password'].errors?.['required'] && userForm.get('conf_password')?.touched" class="error" class="text-danger">Password is Required</small>
                    <small *ngIf="f['conf_password'].errors?.['confirmedValidator'] && userForm.get('conf_password')?.touched" class="error" class="text-danger">Passwords do not Match</small>
                </div>
                
                <input [disabled]="userForm.invalid" type="submit" name="" value="Submit">
            </form>
    </body>
</html>
